* {
  text-decoration: none;
  font-family: sans-serif;
  color: #222;
}

html {
  background-image: url(/backgroundImage/abstractPurpleskBackground.jpg); /*Credit to: https://negativespace.co | Royalty free/Copyright free images */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.bodyCosmetics {
  background-color: rgba(73, 69, 69, 0.4);
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0;
  margin-bottom: 0;
  height: 100vh;
  
}

.contentContainer {
  padding: 0px 15px;
  height: 100vh;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.introduction p, h1{
  color: rgb(240, 237, 235);
}

.contentCentered{
  display: flex;
  justify-content: center;
}

a {
  color: rgb(62, 62, 191);
  cursor: pointer !important;
}

#chooseJokesCategory {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;
  overflow: hidden;
  border: red solid 2px;
}

#categoriesPrompt {
  display: flex;
  color: rgb(240, 237, 235);
  border: yellow solid 2px;
}

#categories {
  display: flex;
  flex: 1;
  padding: 10px 10px;
  gap: 30px;
  border: blue solid 2px;
  
}

.categoryButton {
  flex: 1;
  border-radius: 10px;
  background-color: aliceblue;
  color: #222;
  font-family: sans-serif;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: 0 5px 10px rgba(15, 15, 15, 0.1);
}

.categoryButtonHover {
  background-color: aliceblue !important;
  filter: none !important;
  color: #222 !important;
  box-shadow: 
  0 0 10px #4f4e4c,
  0 0 20px #c2c0cb,
  0 0 5px #222;
  transition: 0.1s ease-in-out;
  transform: scale(1.05);
}

.categoryButtonIdle {
  filter: brightness(100%);
  background-color: rgba(76, 87, 102, 0.4);
  color: #e9e3e3;
  transition: 0.2s ease-in-out;
}

.categoryButtonActive {
  background-color: rgba(76, 87, 102, 0.9);
  color: #e9e3e3;
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
  filter: brightness(100%);
}

.categoryButtonActive:hover {
  background-color: rgba(76, 87, 102, 0.9) !important;
  color: #e9e3e3 !important;
  box-shadow: none !important;
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
  filter: brightness(100%);
}

#currentJoke {
  align-items: center;
  border: none;
  padding: 25px;
  width: 500px;
  box-shadow: 
  0 0 20px #c6b8a3,
  0 0 40px #d28a69,
  0 0 60px #de7979,
  0 0 80px #9b7edf;
  background-color: rgba(233, 240, 247, 0.93);
  border-radius: 10px;
}

#currentJoke::backdrop {
  background-color: #222;
  filter: opacity(0.5);
}

#jokeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: green solid 2px;
  padding: 25px;
}

#fetchJokeButton {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background-color: rgba(76, 87, 102, 0.4);
  box-shadow: 0 5px 10px rgba(15, 15, 15, 0.1);
  font-family: sans-serif;
  font-size: 16px;
  color: #e9e3e3;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

#fetchJokeButton:hover {
  transform: scale(1.1);
  background-color: aliceblue !important;
  filter: none !important;
  color: #222 !important;
  box-shadow: 
  0 0 10px #4f4e4c,
  0 0 20px #c2c0cb,
  0 0 5px #222;
  filter: brightness(110%);
}

.labelDecorator {
  font-size: 24px;
  color: #424245;
}

.errorMessage {
  font-size: 24px;
  color: #d12d2d;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#closeButton {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(15, 15, 15, 0.1);
  background-color: rgba(76, 87, 102, 0.4);
  color: #e9e3e3;
  transition: 0.2s ease-in-out;
}

#closeButton:hover {
  filter: brightness(110%);
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
  background-color: rgb(76, 87, 102);
  box-shadow: 
  0 0 2px rgb(75, 73, 73),
  0 0 4px #222;
  cursor: pointer;
}

#searchBarButtonContainer {
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 25px auto;
  border: 1px solid #959699;
  box-shadow: 0 5px 10px rgba(15, 15, 15, 0.1);
  border-radius: 10px;
  overflow: hidden;  
}

#searchBarInput {
  flex: 1;
  padding: 10px 15px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: aliceblue;
}

#searchButton {
  padding: 10px 15px;
  border: none;
  background-color: rgb(76, 87, 102);
  font-family: sans-serif;
  font-size: 16px;
  color: #e9e3e3;
  transition: 0.2s ease-in-out;
  transform: scale();
  cursor: pointer;
}

#searchButton:hover {
  filter: brightness(120%);
  box-shadow: 0 0 5px #222 inset;
  transform: scale(1.02);
  transition: 0.2s ease-in-out;
}

table, th, td {
  border: 2px solid #222;
  padding: 10px;
}

#jokeLibraryPersonal{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: orange 2px solid;
}

#allJokeContent {
  display: flex;
  flex-direction: column;
  border: purple solid 2px;
}

@media (max-width: 900px) {
  #chooseJokesCategory {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .categoryButton {
    padding: 10px 20px;
  }

  .bodyCosmetics {
    margin-left: 0;
    margin-right: 0;
    height: calc(100vh - 0px);

  }

  #fetchJokeButton {
    
  }

  #jokeLibraryPersonal {

  }

  #allJokeContent {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    flex-direction: row;
    overflow: hidden;
  }

  



}